/* Stile specifico per il titolo */
h1 {
    font-size: 3em; /* Dimensione del font per il titolo principale */
    margin-bottom: 1em; /* Ridotto lo spazio sotto il titolo */
}

/* Stile specifico per il titolo secondario */
h2 {
    font-size: 1.5em; /* Ridotto per rendere la scritta "Home Page" più piccola */
    margin-bottom: 1em; /* Ridotto lo spazio sotto */
}
