/* Stile specifico per il titolo */
h1 {
    font-size: 3em; /* Aumenta la dimensione del font */
    margin-bottom: 1.5em; /* Spazio sotto il titolo */
    text-transform: uppercase; /* Trasforma il testo in stampatello */
}

/* Stile specifico per gli elementi dell'elenco */
li {
    font-size: 1.5em; /* Aumenta la dimensione del font per gli elementi dell'elenco */
    margin: 1em 0; /* Spazio tra gli elementi */
}
