<div class="container">
    <div class="overlay"></div>
    <h1>Giovanni Library</h1>
    <ul>
        <li><a routerLink="/books-view">View All Books</a></li>
        <li *ngIf="!isAuthenticated"><a routerLink="/login">Login</a></li>
        <li *ngIf="isAuthenticated"><button (click)="logout()">Logout</button></li>    
    
        <li>
            <input type="string" [(ngModel)]="text" placeholder="Enter Text" />
            <button (click)="searchBookByText()">Search Book by Text</button>
        </li>
        
        <ng-container *ngIf="isAdmin">
            <li>
                <input type="number" [(ngModel)]="bookId" placeholder="Enter Book ID" />
                <button (click)="searchBookById()">Search Book by ID</button>
            </li>
            <li><a [routerLink]="['/book-form', 'search']">Advanced Book Search</a></li>
            <li><a [routerLink]="['/book-form', 'create']">Add New Book</a></li>
        </ng-container>
    </ul>
    
</div>

