<div class="background">
    <div class="typewriter justify-content-center">
        <h1 class="typewriter">Benvenuto su Library MKNW</h1>
        <div class="form-container d-flex justify-content-center align-items-center">
            <form (submit)="login()">
                <div class="mb-3">
                    <h4>Effettua l'accesso:</h4>
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required>
                </div>
        
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
                </div>
                <button class="btn btn-primary" (click)="login()">Accedi</button>

                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
        
                <a routerLink="">Password dimenticata?</a>
                <br><br>
                <button type="submit" class="btn btn-primary text-center">Accedi</button>
                <br><br>
                <a routerLink="/signup">Non sei registrato? Registrati.</a>
            </form>
       </div>
    </div>
</div>
  